/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
/*COMMONS*/
section, footer {
    width: 100%;
    padding-top: 5%;
}
.hero-section, .enjoy-section {
    background-color: #b4d0e6;
}
.big-container {
    max-width: 1300px;
    margin: auto;
}
.standard-container {
    max-width: 1080px;
    margin: auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.btn {
    padding: 10px 10px;
    background-color: #0066ff;
    border: none;
    color: #fff;
    line-height: 14px;
    transition: 0.2s;
}
.btn:active {
    transform: scale(0.9);
}
section.business-plan .col, section.business-plan .col .top, section.business-plan .standard-container .row-large, section.business-plan .row-large .top, section.faq dl.faq-list, section.faq dl.faq-list dt {
    border-color: #cecece;
}
.nav-header a, .footer-top a {
    text-decoration: none;
}
/*TYPO*/
.col, .row-large p, .btn {
    font-size: 14px;
}

h1 {
    font-size: 4.5em;
}
h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}
h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
}
h4 {
    font-size: 1.2em;
}
/*HEADER*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
}
nav.nav-header ul li, .nav-header, .left-bar, .right-bar {
    display: inline-block;
}

img.logo, nav.nav-header, .btn {
    vertical-align: middle;
}
.left-bar, .right-bar {
    width: calc(50% - 4px);
}
.right-bar {
    text-align: right;
}
img.logo, nav ul li {
    padding: 10px 20px;
}
.nav-header a {
    color: #000;
    font-size: 12px;
}
.btn-header {
    padding: 5px;
    font-size: 12px;
    line-height: 12px;
    margin-right: 10px;
}
/*MAIN*/
.hero-img-box {
    width: 65%;
    
}
.hero-text {
    width: 35%;
}
.hero-img-box, .hero-text {
    float: left;
    position: relative;
    bottom: -50px;
    padding: 0 30px;
}
.hero-img {
    max-width: 750px;
}
.btn-hero {
    display: block;
    margin: 20px 0 10px 0;
}
/*icon*/
#arrow-icon {
    font-size: 30px;
    margin: 20px 0;
}
/*BUSINESS PLAN SECTION*/
label {
    padding: 0 15px 0 5px;
}
/*coloumns and coloumns container styles*/
.col-container {
    width: 100%;
    margin-top: 30px;
}
.col {
    width: calc(100% / 3 - 30px);
    min-height: 1000px;
    float: left;
    border: 1px solid;
}
.col .top, .row-large .top {
    border-bottom: 1px solid;
}
.col.col-standard {
    margin: 0 45px;
}
.top {
    text-align: center;
    padding: 5px 0;
}
.corps, .btn-box, .row-corps {
    padding: 40px;
}
#price {
    font-weight: bold;
    padding: 10px 0;
}
#term {
    color: #666a6d;
}
.corps ul li {
    list-style-type: none;
    padding: 10px 0;
}

.corps ul.offer, #buy-now {
    padding: 30px 0;
}
.col .corps a, #partners-link {
    color: #007aff;
}
ul.check i {
    color: #286fdb;
}
.corps hr {
    width: 20%;
    background-color: #cecece;
    margin-bottom: 30px;
}
/*row after coloumn*/
.row-large {
    width: 100%;
    border: 1px solid;
    margin-top: 50px;
}
.row-corps {
    width: 70%;
    display: inline-block;
}
.row-corps h4 {
    padding: 25px 0;
}
/*buttons business section*/
.btn-corps, .btn-row {
    width: 100%;
    margin: auto;
    padding: 10px 0;
    display: block;
}
.btn-box {
    width: 30%;
    float: right;
}
/* PARTNERS SECTION*/
#partners-img, .partner-text {
    max-width: 50%;
    float: left;
}
.partner-text {
    padding: 20px 50px;
    line-height: 2em;
}

.partner-text h2 {
    font-size: 1.8em;
    padding: 25px 0;
}
.btn-partner {
    width: 30%;
    color: #000;
    border: 1px solid #000;
    background-color: #fff;
    margin-top: 25px;
}
/*BUSINESS SECTION*/
.business-row {
    width: 100%;
}
.business-col {
    width: calc(100% / 3 - 20px);
    float: left;
    margin-bottom: 40px;
    padding: 10px;
}
.business-col-middle {
    margin: 0 30px;
}
.business-col img {
    max-width: 300px;
    margin: auto;
}
.business-col a {
    color: #000;
}
/*BRANDS PARTNER SECTION*/
.full-screen {
    width: 100%;
    margin-top: 50px;
}
.logos, .description {
    float: left;
}
.logos {
    width: 25%;
}
.box-brand-img {
    width: 50%;
    height: 13vw;
    float: left;
}
.description {
    width: 50%;
    height: 26vw;
    background-color: #f5f5f5;
    padding: 40px;
    overflow: auto;
}
.description img {
    width: 15%;
}
.logos img {
    width: 100%;
    height: 100%;
    padding: 20%;
    filter:invert(100%);
}
#florida {
    padding: 47% 20%;
}
/*team box style*/
#designit {
    background-color: #a2d39b;
}
#arizona {
    background-color: #61082b;
}
#florida-box {
    background-color: #0093ce;
}
#topps {
    background-color: #ff1c1c;
}
#bicycle {
    background-color: #d5001f;
}
#hearst-group {
    background-color: #b4d0e7;
}
#lonely-planet {
    background-color: #0d2481;
}
#clear-channel {
    background-color: #ffd830;
}
.box-brand-img:hover {
    border: 10px solid rgba(255, 255, 255, 0.5);
}
.description hr {
    width: 8%;
    margin: 25px 0;
    background-color: #cecece;
}
.description p {
    padding: 20px 0;
}
/*ENJOY SECTION*/
.enjoy h2 {
    width: 50%;
    float: left;
    color: #61082b;
    padding-bottom: 10%;
}
.enjoy .btn {
    float: right;
}
.btn-enjoy {
    width: 30%;
    background-color: #fff;
    color: #000;
}
/*FAQ*/
dl.faq-list {
    border-top: 1px solid;
    line-height: 4em;
    margin-top: 50px;
    padding-bottom: 10%;
}
dl.faq-list dt {
    border-bottom: 1px solid;
}
dl.faq-list h5 {
    display: inline-block;
    padding-right: 45%;
}
/*FOOTER*/
footer {
    background-color: #000;
    color: #fff;
}
.footer-top {
    float: left;
    width: calc(100% / 5);
}
.footer-top nav ul li {
    list-style: none;
    padding: 1px 0;
}
.footer-top nav ul li a {
    color: #fff;
    font-size: 14px;
    padding: 0;
}
.footer-top nav {
    padding-top: 1em;
}
.footer-lang {
    width: 10%;
    margin-top: 5em;
    padding: 3em 0;
    border-top: 1px solid #bfbfbf;
}
.footer-lang::after {
    content: "\23F6";
}
.footer-lang::after, #lang {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}