/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1600px;
}
/*COMMONS*/
.big-container {
    max-width: 1300px;
}
.standard-container {
    max-width: 1080px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.btn {
    padding: 5px 10px;
    background-color: #0066ff;
    border: none;
    color: #fff;
}
/*HEADER*/
nav.nav-header ul li, .nav-header, .left-bar, .right-bar {
    display: inline-block;
}
a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
}
img.logo, nav.nav-header, .btn {
    vertical-align: middle;
}
.left-bar, .right-bar {
    width: calc(50% - 4px);
}
.right-bar {
    text-align: right;
}
img.logo, nav ul li {
    padding: 10px 20px;
}
.btn-header {
    font-size: 12px;
    line-height: 12px;
    margin-right: 10px;
}
